@model IEnumerable<HotelsUI.Models.Room>

@{
    ViewData["Title"] = "Rooms";
}

<h2>@ViewBag.Hotel.Name</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Book", "Book", new { hotelID = ViewBag.Hotel.ID, type = item.Type, price = item.Price })
                </td>
            </tr>
        }
    </tbody>
</table>
